
:root {
  --dark-color: #2D3333;
  --primary-color: white;
  --secondary-color: #00BBB7;
  --gray-color: #677574;
  --green-color: #70B25C;
  --red-color: #B74B4D;
}

body {
  background: var(--dark-color);
  font-size: 16px;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

